@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
  padding: 0;
  margin: 44px 80px 48px 80px;
}

.App {
  text-align: center;
}

#profile__section {
  display: flex;
  gap: 24px;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
}

#profile__img {
  width: 88px;
  height: 88px;
  border-radius: 50%;
  background-image: url(./images/profile__img.png);
  background-size: cover;
  background-color: blueviolet;
  margin: 0 auto;
  transition: 0.3s;
  cursor: pointer;
}

#profile__img:hover{
  background-image: linear-gradient(0deg, rgba(52, 64, 84, 0.75), rgba(52, 64, 84, 0.75)), url(./images/profile__img.png);
}

#twitter {
  font-family: 'Inter';
  font-weight: bold;
  font-size: 20px;
}

#slack {
  display: none;
}

@media (max-width: 1000px) {
  body {
    margin: 44px 16px 48px 16px;
  } 
}