@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
  padding: 0;
  margin: 44px 80px 48px 80px;
  font-family: 'Inter';
  color: #101828;
}

a {
  text-decoration: none;
  color: inherit;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 56px;
}



/* Profile Section */
#profile__section {
  display: flex;
  gap: 24px;
  flex-direction: column;
  width: calc(100% - 416px);
  margin: 0 auto;
}

#profile__img {
  width: 88px;
  height: 88px;
  border-radius: 50%;
  background-image: url(./images/profile__img.png);
  background-size: cover;
  background-color: blueviolet;
  margin: 0 auto;
  transition: 0.3s;
  cursor: pointer;
}

#camera{
  width:inherit;
  height: inherit;
  border-radius: inherit;
  background-image: linear-gradient(0deg, rgba(52, 64, 84, 0.75), rgba(52, 64, 84, 0.75)), url(./images/profile__img.png);
  background-size: cover;
  opacity: 0;
  transition: inherit;
  display: flex;
  justify-content: end;
  flex-direction: column;
  align-items: center;
}

#camera img {
  margin-bottom: 10px;
  width: 24px;
}
#camera:hover{
  opacity: 1;
}

#twitter {
  font-weight: bold;
  font-size: 20px;
}

#slack {
  display: none;
}

#sharefunction {
  display: flex;
  justify-content: end;
  gap: 4px;
  align-self: flex-end;
  cursor: pointer;
  align-items: center;
}

#sharebutton {
  width: 40px;
  height: 40px;
}

#sharebuttonmobile {
  display: none;
}

#sharelink {
  transition: 0.3s;
  opacity: 0;
}

#sharefunction:hover #sharelink {
  opacity: 1;
}

/* Links Section */
#links__section {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 56px ;
}

#links__section a {
  margin: 0 auto;
  width: calc(100% - 288px);
  display: block;
  background-color: #EAECF0;
  border: 1px solid #EAECF0;
  border-radius: 8px;
  font-size: 18px;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  padding: 24px 32px;
  font-weight: 500;
  transition: 0.3s;
  font-style: normal
}

.linkswithdescription{
  display: flex;
  flex-direction: column;
  gap: 24px;
}


.linkswithdescription:hover label {
  display: block;
}
#slackgithub {
  display: flex;
  margin: 0 auto;
  width: calc(100% - 288px);
  justify-content: center;
  gap: 24px;
  padding: 24px 32px;
}
#slackgithub a {
  width: max-content;
  padding: 0;
  margin: 0;
  background: none;
  border: none;
}

#links__section a:hover {
  background-color: #D0D5DD;
}

#slackgithub a:hover {
  background-color: transparent;
}

label{
  display: none;
}

#books:hover label {
  display: block;
}




footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(100% - 64px);
  padding: 32px 32px;
  border-top: 1px solid #EAECF0;
}

footer span {
  font-size: 16px;
  width: 832.28px;
  color: #667085;
  font-style: normal;
  font-weight: 400;
}

@media (max-width: 1000px) {
  body {
    margin: 44px 16px 32px 16px;
  } 

  .App{
    gap: 32px;
  }


  #profile__section {
    width: 100%;
    margin: 0;
  }

  #twitter {
    font-size: 18px;
  }

  #sharebutton {
    display: none;
  }

  #sharebuttonmobile {
    display: block;
  }

  #links__section {
    margin-bottom: 32px;
  }
  #links__section a {
    width: calc(100% - 64px);
    margin: 0;
    font-size: 14px;
  }




  footer{
    flex-direction: column;
    gap: 16px;
    align-items: flex-start;
    padding: 32px 0;
    width: 100%;
  }

  footer img {
    height: 24px;
  }

  footer span {
    width: max-content;
  }
}